/* Global Settings */
:root{
    --aquamarine: #63c6ae;
    --white: #ffffff;
    --black: #333333;
    --lightgray: #f9f9f9; 
    --gray: #9b9b9b;
}
@font-face {
	font-family: 'et-line';
	src:url('resources/fonts/et-line.eot');
	src:url('resources/fonts/et-line.eot?#iefix') format('embedded-opentype'),
		url('resources/fonts/et-line.woff') format('woff'),
		url('resources/fonts/et-line.ttf') format('truetype'),
		url('resources/fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
} 
body{
    font-size: 1rem;
    /* font-family: 'et-line'; */
    color: var(--gray);
    margin: 0;
    background: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
* {box-sizing: border-box;}

@media (max-width: 576px){
    .container-fluid{
        width: 90%;
        padding: 60px 0;
    }
    .header-caption{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .header-btn2{
        display: none;
    }
    div.container.navbar-container{
        width: 90%;
    }
    .video{
        width: 100%;
    }
    .blog-1{
        width: 100%;
    }
    .blog-2{
        width: 100%;
    }
    .img-fluid{
        width: 100%;
    }
    .profession{
        margin-bottom: 30px;
    }
    .navbar{
        width: 90%;    
    }
    .sticky-top{
        width: 100%;
    }
    .delete-card{
        display: none;
    }
    .form-area{
        margin-top: 20px;
        height: 150px;
    }
    .contact-button{
        width: 100%;
    }
    .row-button{
        margin: 15px 0;
    }
    .footer-container {
        width: 80%;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .container-fluid{
        width: 75%;
        padding: 80px 0;
    }
    .header-caption{ 
        margin-top: 20px;
        margin-bottom:30px;
    }
    .navbar-container{
        width: 80%;
    }
    div.container.navbar-container{
        width: 75%;
    }
    ul#navbar.navbar-collapse{
        float: right;
    }
    .about-container{
        margin-right: 80px;
    }
    .video{
        width: 100%;
        height: 300px;
    }
    .blog-1{
        width: 97.5%;
    }
    .blog-2{
        width: 47.4%;
    }
    .contact-container{
        width: 65%;
    }
    .form-area{
        margin-top: 0;
        height: 100%;
    }
    .contact-button{
        width: 70%;
    }
    .row-button{
        margin: 20px 0;
        display: block;
    }
    .footer-container {
        width: 70%;
        text-align: center;
    }
}
@media (min-width: 769px){
    .container-fluid{
        width: 75%;
        padding: 80px 0;
    }
    .header-caption{ 
        margin-top: 25px;
        margin-bottom:30px;
    }
    .caption-container{
        width: 70%;
    }
    div.container.navbar-container{
        width: 75%;
    }
    .about-container{
        height: 100%;
    }
    .video{
        height: 100%;
        min-width: 420px;
    }
    .blog-1{
        width: 47.4%;
    }
    .blog-2{
        width: 47.4%;
    }
    .contact-container{
        width: 50%;
    }
    .form-area{
        height: 100%;
    }
    .contact-button{
        width: 70%;
    }
    .row-button{
        margin: 20px 0;
        display: block;
    }
    .footer-container {
        width: 30%;
        text-align: center;
    }
}
h2, h3, h4, h5, h6{
    color: var(--black);  
}
h1, h2{
    font-weight: bold;
}
h3{
    font-size: 1.4rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
.img-fluid{
    margin-bottom: 1.25rem;
}
.dif-background-section{
    background: var(--lightgray);
}
.center{
    text-align: center;
}
.paragraph{
    margin-top: 15px;
    margin-bottom: 50px;
}
/* Header */
#carousel .carousel-caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
#carousel .carousel-caption .row{
    height: 100%;
}
.header-caption{
    color: var(--white);  
}
.btn1{
    border: 2px solid var(--white);  
    border-radius: 3px;
    background: transparent;
    color: var(--white);  
    font-size: 1rem;
    padding: 9px 35px;
    margin: 5px;
}
.btn2{
    border: 2px solid var(--aquamarine);
    border-radius: 3px;
    background: var(--aquamarine);
    color: var(--white);  
    font-size: 1rem;
    padding: 9px 35px;
    margin: 5px;
}
.btn:hover{
    border-color: transparent;
    background: var(--white);  
    color: var(--aquamarine);
}
.btn:active, .btn:focus{
    border-color: transparent;
    background: #efa223;
    border-color: #C58801 ;
    color: var(--white);  
}
.btn:focus{
    box-shadow: none;
}

/* Navbar */
.navigation{
    background: var(--white);  
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--aquamarine);
} 
.navbar-nav{
    font-size: 0.8rem;
    justify-content: end;
}
.navbar-menu-item{
    font-weight: bolder;
}
div#navbarTogglerDemo02{
        justify-content: flex-end;
}
.navbar-collapse{
    text-align: center;
}
.bg-light {
    box-shadow: 0 1px 5px -2px rgba(0,0,0,.2);
}
.row-team{
    margin: 0 auto;
}

/* WHAT WE DO */
span.icon{
    font-size: 1.9rem;
    color: var(--black);  
}

/* ABOUT */
.video {
    border: 0;
}

/* TEAM */
.team-members{
    position: relative;
}
.team-photo{
    display: block;
    width: 100%;
    height: auto;
}
.social-links {
    position: absolute;
    bottom: 0;
    background: rgba(250, 250, 250, 0.8);
    width: 100%;
    transition: 0.5s ease 0s;
    opacity: 0;
    color: var(--white);  
    padding: 10px;
    text-align: center;
}
.team-members:hover .social-links {
    opacity: 1;
}
/* PORTFOLIO */
.portfolio{
    position: relative;
}
.portfolio-img{
    display: block;
    width: 100%;
    height: auto;
}
.portfolio-overlay{
    position: absolute;
    bottom: 0;
    background: rgba(99, 198, 174, 0.8);
    width: 100%;
    height: 100%;
    transition: 0.5s ease 0s;
    opacity: 0;
    color: var(--white);  
    padding-top: 40%;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
.portfolio:hover .portfolio-overlay{
    opacity: 1;
}
.portfolio-icon{
    background-color: var(--white);  
    color: var(--aquamarine);
    font-size: 30px;
    border-radius: 50%;
    border: 15px solid var(--white);  
    font-weight: 800;
}
.portfolio-text{
    margin-top: 30px;
    color: var(--white);
    font-weight: bold;
}

/* BLOG */
.blog{
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 3rem;
    height: 200px; 
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 50%;
    }
}
.blog:hover{
    background-image: url(../images/hover-image.jpg);
    background-size: cover;
    background-position: 0px 0px;
    border: transparent;
    animation: animatedBackground 10s linear infinite alternate;
}
.blog:hover .blog-title{
    color: var(--aquamarine);
}

/* FAQ */
.accordion-button::after {
    display: none;
}
.accordion-button:not(.collapsed) {
    color: initial;
    background-color: var(--white);  
}
.accordion-collapse {
    border: transparent;
    border-width: 0;
    margin-top: -10px;
    margin-left: 4px;
    margin-right: -4px;
}
.accordion70{
    width: 70%;
}
.accordion-button{
    border-radius: 4px;
    border-color: transparent;
    background: var(--white);  
    margin: 4px;
}
.accordion-button:focus {
    border-color:transparent;
    box-shadow: none;
}

.accordion-body{
    border-radius: 4px;
    border-color: transparent;
    background: var(--white);  
}
.icon2{
    margin-right: 15px;
}

/* TESTIMONIALS */
.card-body{
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.testimonial-container{
    padding: 0;
}
.testimonial-card {
    border: none;
    display: inline-block;
    width: 49%;
}
.testimonial-photo {
    display: inline-flex;
    width: 20%;
    position: absolute;
}
.testimonial-text {
    display: inline-block;
    width: 100%;
    padding-left: 70px;
}
.user{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);  
}
.testimg{
    height: 50px;
    width: 50px;
}
.carousel-indicators {
    bottom: -55px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: rgba(35, 203, 167, 1);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px;
    height: 9px;
    margin: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(35, 203, 167, 0.7);
    border-radius: 50%;
}

/* CONTACT */
.form{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: var(--gray);
}
.form-nomargin {
    width: 100%;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: var(--gray);
}
.form-area{
    width: 100%;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: var(--gray);
}
.contact-button{
    margin: 0;
}

/* FOOTER */
.social-icons {
    width: 30px;
    height: 30px;
    margin: 10px ;
}
.icon-row{
    width: 300px;
    margin: 0 auto;
}