/* Global Settings */
body{
    font-size: 12px;
    color: #9b9b9b;
    margin: 0;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {box-sizing: border-box;}
@media (min-width: 320px){
    .container-fluid{
        width: 90%;
        padding: 60px 0;
    }
    .video{
        width: 100%;
    }
    .blog-1{
        width: 100%;
    }
    .blog-2{
        width: 100%;
    }
    .img-fluid{
        width: 100%;
    }
    .team{
        margin-bottom: 30px;
    }
    .navbar{
        width: 90%;    
    }
    .sticky-top{
        width: 100%;
    }
    .form-area{
        margin-top: 20px;
        height: 150px;
    }
    .contact-button{
        width: 100%;
    }
    .row-button{
        margin: 15px 0;
    }
    .footer-container {
        width: 80%;
        text-align: center;
    }
}

@media (min-width: 769px){
    .container-fluid{
        width: 75%;
        padding: 80px 0;
    }
    .navbar-container{
        width: 80%;
    }
    .sticky-top{
        width: 100%;
    }
    .navbar-collapse{
        margin-right: 0 !important;
    }
    .about-container{
        margin-right: 80px;
    }
    .video{
        width: 100%;
        height: 300px;
    }
    .blog-1{
        width: 97.5%;
    }
    .blog-2{
        width: 47.4%;
    }
    .contact-container{
        width: 65%;
    }
    .form-area{
        margin-top: 0;
        height: 100%;
    }
    .contact-button{
        width: 70%;
    }
    .row-button{
        margin: 20px 0;
        display: block;
    }
    .footer-container {
        width: 70%;
        text-align: center;
    }
}
@media (min-width: 992px){
    .about-container{
        height: 100%;
    }
    .video{
        height: 100%;
        min-width: 420px;
    }
    .blog-1{
        width: 97.4%;
    }
    .blog-2{
        width: 47.4%;
    }
    .contact-container{
        width: 50%;
    }
    .form-area{
        height: 100%;
    }
    .contact-button{
        width: 70%;
    }
    .row-button{
        margin: 20px 0;
        display: block;
    }
    .footer-container {
        width: 30%;
        text-align: center;
    }
}

h2, h3, h4, h5, h6{
    color: #333333;
}
.img-fluid{
    margin-bottom: 1.25rem;
}
.gray{
    background: #f9f9f9 ;
}
.center{
    text-align: center;
}
.paragraph{
    margin-top: 15px;
    margin-bottom: 50px;
}
/* Header */
#carousel{
    position: relative;
}
#carousel .carousel-caption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
#carousel .carousel-caption .container
#carousel .carousel-caption .row{
    height: 100%;
}
.caption-title{
    color: #ffffff;  
    padding-bottom: 30px;
}
.btn1{
    border: 2px solid white;
    border-radius: 3px;
    background: transparent;
    color: white;
    font-size: 15px;
    padding: 9px 35px;
    margin: 5px;
}
.btn2{
    border: 2px solid #63c6ae;
    border-radius: 3px;
    background: #63c6ae;
    color: white;
    font-size: 15px;
    padding: 9px 35px;
    margin: 5px;
}
.btn:hover{
    border-color: transparent;
    background: white;
    color: #63c6ae;
}
.btn:active{
    border-color: transparent;
    background: #efa223;
    color: white;
}
.btn:focus{
    box-shadow: none;
}

/* Navbar */
.navigation{
    background: #ffffff;
}
 
#navbar{
    font-size: 12px;
    justify-content: end;
}
.navbar-collapse{
    text-align: center;
}
.bg-light {
    box-shadow: 0 1px 5px -2px rgba(0,0,0,.2);
}
#navbarTogglerDemo02 {
    justify-content: flex-end;
    margin-right: 5rem;
}
.active, .nav-item:focus{
    color:#63c6ae !important;
}
.row-team{
    margin: 0 auto;
}

/* WHAT WE DO */
span.icon{
    font-size: 22px;
}

/* ABOUT */
.video {
    border: 0;
}

/* TEAM */
.team-members{
    position: relative;
}
.team-photo{
    display: block;
    width: 100%;
    height: auto;
}
.social-links {
    position: absolute;
    bottom: 0;
    background: rgba(250, 250, 250, 0.8);
    width: 100%;
    transition: all 0.5s ease 0s;
    opacity: 0;
    color: white;
    padding: 10px;
    text-align: center;
}
.team-members:hover .social-links {
    opacity: 1;
}
/* PORTFOLIO */
.portfolio{
    position: relative;
}
.portfolio-img{
    display: block;
    width: 100%;
    height: auto;
}
.portfolio-overlay{
    position: absolute;
    bottom: 0;
    background: rgba(99, 198, 174, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    opacity: 0;
    color: white;
    padding-top: 40%;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
.portfolio:hover .portfolio-overlay{
    opacity: 1;
}
.portfolio-icon{
    background-color: white;
    color: #63c6ae;
    font-size: 30px;
    border-radius: 50%;
    border: 15px solid white;
    font-weight: 800;
}
.portfolio-text{
    margin-top: 30px;
    color: white !important;
}

/* BLOG */
.date{
    color: gray;
}
.blog{
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
    padding: 3rem;
    height: 200px; 
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 50%;
    }
}
.blog:hover{
    background-image: url(../images/hover-image.jpg);
    background-size: cover;
    background-position: 0px 0px;
    border: transparent !important;
    animation: animatedBackground 10s linear infinite alternate;
}
.blog:hover .blog-title{
    color: #63c6ae!important;
}

/* FAQ */
.accordion-button::after {
    display: none;
}
.accordion-button:not(.collapsed) {
    color: initial;
    background-color: #fff;
}
.accordion-collapse {
    border: transparent;
    border-width: 0;
    margin-top: -10px;
    margin-left: 4px;
    margin-right: -4px;
}
.accordion70{
    width: 70% !important;
}
.accordion-button{
    border-radius: 4px;
    border-color: transparent;
    background: #ffffff;
    margin: 4px;
}

.accordion-body{
    border-radius: 4px;
    border-color: transparent;
    background: #ffffff;
}
.icon2{
    margin-right: 15px;
}

/* TESTIMONIALS */
.card-body{
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.testimonial-container{
    padding: 0;
}
.testimonial-card {
    border: none;
    display: inline-block;
    width: 49%;
}
.testimonial-photo {
    display: inline-flex;
    width: 20%;
    position: absolute;
    left: 25px;
}
.testimonial-text {
    display: inline-block;
    width: 100%;
    padding-left: 70px;
}
.testimg{
    height: 50px;
    width: 50px;
}
.carousel-indicators {
    bottom: -55px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: rgba(35, 203, 167, 1);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px;
    height: 9px;
    margin: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(35, 203, 167, 0.7);
    border-radius: 50%;
}

/* CONTACT */
.form{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #9b9b9b;
}
.form-nomargin {
    width: 100%;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #9b9b9b;
}
.form-area{
    width: 100%;
    padding: 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #9b9b9b;
}
.contact-button{
    margin: 0 !important;
}

/* FOOTER */
.social-icons {
    width: 30px;
    height: 30px;
    margin: 10px ;
}
.icon-row{
    width: 300px;
    margin: 0 auto;
}